:root {
    --dark: #000000;
    --blue_rgba: rgba(14, 174, 248, 0.9);
    --gray: #B8B8B8;
    --white: #ffffff;
    --blue: #0EAEF8;
    --transparent: transparent;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dark);
    color: var(--white);
}

.forum-global {
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    background-color: var(--dark);
    border-left: 5% solid var(--transparent);
    border-right: 5% solid var(--transparent);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1px;
}

.report-box {
    text-align: left;
}

.forum-title {
    display: inline-block;
    text-align: left;
    font-size: 50px;
    color: var(--blue);
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px rgba(14, 174, 248, 1);
}

#blue,
span {
    color: var(--blue);
}

.home {
    color: var(--white);
    font-size: 16px;
    border: 1px solid var(--white);
    border-radius: 5px;
    padding: 2px;
    float: right;
    margin: 5px;
    margin-top: 15px;
}

#info {
    background-color: var(--dark);
    color: var(--white);
    text-align: right;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    width: 20%;
    left: 80%;
}

#info:hover .info_content {
    display: block;
}

p {
    font-size: 18px;
}

a {
    color: #FF3A58;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin: 20px 0 0;
}

h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.forum_container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--blue);
    border-left: 5% solid var(--transparent);
    border-right: 5% solid var(--transparent);
    padding: 1px;
}

.topics {
    flex: 1;
    padding: 5px;
    background-color: var(--dark);
    border: 0.5px solid var(--blue);
    border-radius: 5px;
    color: #FECC90;
}

#separator {
    background-color: var(--dark);
    color: var(--blue);
    border-bottom: 0.5px solid var(--blue);
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.topic_block {
    border: 0.5px solid rgba(14, 174, 248, 0.3);
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
    
.topic_title {
    color: var(--blue);
    font-size: 24px;
}

.topic_message {
    color: var(--white);
    font-size: 14px;
}

.topic_info,
.topic_date {
    color: var(--blue);
    font-size: 14px;
}

.description {
    flex: 0.5;
    padding: 1px;
    background-color: var(--dark);
    border: 0.5px solid var(--blue);
    border-radius: 5px;
}

.enter_description {
    background-color: var(--dark);
    border: 0.5px solid var(--transparent);
    margin: 5px;
}

.division {
    background-color: var(--transparent);
    border: 0.5px solid var(--transparent);
}

.title_fix {
    position: fixed;
    width: 89%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: -10px;
    background-color: var(--dark);
    color: var(--blue);
    border-bottom: 0.5px solid rgba(14, 174, 248, 0.7);
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

#separator_message {
    border-bottom: 0.5px solid rgba(14, 174, 248, 0.4);
}

.title_right {
    font-size: 15px;
    color: var(--blue);
    text-align: right;
    padding-right: 10px;
    margin-top: -20px;
}

.view_users {
    background-color: var(--transparent);
    color: var(--blue);
    padding-left: 10px;
    text-align: left;
    width: 30%;
    margin-top: -20px;
}

.view_users:hover .exposed_users {
    display: block;
}

.message_container {
    background-color: var(--blue);
    border-left: 5% solid var(--transparent);
    border-right: 5% solid var(--transparent);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2px;
}

#msg {
    background-color: var(--dark);
    padding: 7px;
/*    margin-top: 4.1%;*/
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto;
    flex: 1;
    display: absolute;
}

.msg_ {
    background-color: var(--dark);
    padding-left: 5px;
    padding-right: 5px;
}

#border_msg {
    border-top: 0.5px solid rgba(14, 174, 248, 0.4);
    border-left: 0.5px solid rgba(14, 174, 248, 0.4);
    border-right: 0.5px solid rgba(14, 174, 248, 0.4);
    padding-left: 8px;
    padding-right: 8px;
}

#footer_section {
    background-color: var(--transparent);
    border: 0.5px solid var(--transparent);
    text-decoration-line: underline;
    color: var(--blue);
    font-size: 16px;
    margin-left: 4px;
    font-weight: normal;
}

#error {
    margin-top: 5%;
    color: red;
    font-size: 60px;
    text-align: center;
}

#license {
    background-color: var(--dark);
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    float: left;
    padding: 4px;
    font-size: 18px;
}

.warning,
.copyright,
.info_content,
.exposed_users {
    display: none;
}

.homepage_link {
    color: var(--blue);
    font-size: 20px;
}
        
#license:hover .copyright {
    color: var(--gray);
    font-size: 12px;
    display: block;
    padding: 10px;
}

input[type="password"],
input[type="text"],
textarea {
    width: 35%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 14px;
}

input[type="message"] {
    width: 75%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 14px;
    margin-right: 10px;
}

input[type="topic"] {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    margin-right: 7px;
    background-color: var(--blue);
    color: var(--dark);
    border: 0.5px solid var(--dark);
    font-size: 14px;
}

input[type="submit"] {
    background-color: var(--blue);
    border: 0.5px solid var(--dark);
    font-size: 16px;
}

button[name="cleanse"] {
    background-color: var(--transparent);
    border: 0.5px solid var(--transparent);
    color: var(--blue);
    font-size: 16px;
    font-weight: normal;
    text-decoration-line: underline;
}
